/*Your code here*/
.grid-container {
  width : 100%;
  max-width: 1200px;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*
[class*='clo-'] {
  float: left;
  min-height: 1px;
   find width of column by taking the desired # of columns and dividing it by the width of the container. In this case the container is 100% divid that by 6 columns we have:
  width: 16.66%;
}
*/
.col-4{
  width: ;
}

.col-8{
  width: ;
}

.col-6{
  width: ;
}

.col-1{
  width: ;
}
